<%- include('./partials/head') %>
<link rel="stylesheet" href="/styles/card.css">
<link rel="stylesheet" href="/styles/author.css">

<%- author[0].yoast_head %>
</head>

<body>
  <%- include('./partials/header') %>

  <main>
    <h2><%= author[0].name %></h2>

    <% if (author[0].avatar_urls) { %>
      <img src="<%= author[0].avatar_urls["96"] %>" alt="avatar van <%= author[0].name %>" width="96" height="96">
    <% } else {%>
      <img src="/assets/errorimg.png" alt="kan avatar niet laden" width="96" height="96">
    <% } %>

    <% if (posts[0]) { %>
      <%- include('./partials/card') %>
    <% } else {%>
      <h3> Er zijn geen artiekelen</h3>
    <% } %>
  </main>
<%- include('./partials/foot') %>