<%- include('./partials/head') %>
<link rel="stylesheet" href="/styles/post.css">
<%- post[0].yoast_head %>
</head>

<body> 
  <%- include('./partials/header') %>
  <div id="notification-container" class="hidden">
    <p id="notification"></p>
  </div>

  <main>
    <article>
      <h1><%- post[0].title.rendered %></h1>
      <% if (post[0].yoast_head_json.og_image[0]) { %>
        <img src="<%= post[0].yoast_head_json.og_image[0].url %>" alt="">
      <% } else { %>
        
      <% } %>

      <div class="info">
        <% if (category[0]) { %>
          <a class="categorie" href="/categorie/<%= category[0].slug %>"><%- category[0].name %></a>
        <% } %>

        <span class="date"><%= post[0].date %></span>

        <form action="/artikel/<%= post[0].slug %>" method="post" class="shares" onsubmit="shareLink(event)">
          <input type="hidden" name="slug" value="<%= post[0].slug %>">
          <label for="shareBtn"> <span id="share"><%= post[0].shares  %></span>x gedeeld</label>
          <button class="deel-button" type="submit" id="shareBtn">
            <span class="material-symbols-outlined">share_windows</span>
            <span class="btn-label">deel</span>
          </button>
        </form>
      </div>

      <div class="excerpt">
        <%- post[0].excerpt.rendered %>
      </div>

      <section class="content">
        <div class="read-info">
          <p>Auteur: 
            <% if (author[0]) { %>
              <a href="/auteur/<%= author[0].slug %>"><strong><%= author[0].name %></strong></a>
            <% } %>
          </p>
          <p>Leestijd: <strong><%= post[0].yoast_head_json.twitter_misc["Geschatte leestijd"] %></strong></p>
        </div>

        <%- post[0].content.rendered %>
      </section>
    </article>
  </main>


<%- include('./partials/foot') %>